@model FarmCentral2.Models.Farmers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Farmers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fsurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fsurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Femail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Femail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fusername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fusername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fpassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fpassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
